*.ipynb_checkpoints/*
.vscode/*
*.npy
__pycache__/
.vs/
Debug/
Release/
*.filters
*.user
saeed_code
multiplex_embeddings_data
cpp_data
*.exe
*.pyc

*work_revision.pdf
*work_revision.png

GraphEngine.vcxproj

pymnet
